.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    background-color: black;
    color: #f5f5f5;
    position: fixed;
    width: calc(100% - 291px);
    z-index: 10;
    margin-left: 250px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
   
  }
  
  .searchInput {
    flex: 1;
    max-width: 400px;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background-color: #1a1a1a;
    color: #f5f5f5;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
  }